mixin dataDistribution(dist)
    table.ui.inverted.purple.table
        caption #{__('数据分布')}
        thead
            tr
                th(ng-repeat="(class, count) in #{dist}.set") {{class}}
                th #
        tbody
            tr
                td(ng-repeat="(class, count) in #{dist}.set") {{count}}
                td {{#{dist}.sum}}
    p #{__('Entropy')}: {{#{dist}.entropy}}

mixin stats(stats)
    table.ui.selectable.inverted.table(ng-show="false")
        thead
            tr
                th #{__('Attribute')}
                th #{__('Range')}
        tbody
            tr(ng-repeat="(attr, r) in #{stats}.range")
                td {{attr}}
                td {{r}}
    table.ui.selectable.inverted.table(ng-show="false")
        thead
            tr
                th #{__('Attribute')}
                th #{__('Category')}
        tbody
            tr(ng-repeat="(attr, c) in #{stats}.categories")
                td {{attr}}
                td {{c}}
    table.ui.selectable.inverted.table(ng-repeat="(attr, r) in #{stats}.range", ng-if="attr !== '决策'")
        caption.ui.inverted.sub.header(style="cursor: pointer;", ng-click="#{stats}.showSplitDetail[attr] = !#{stats}.showSplitDetail[attr]", ng-class="{'red': stats.maxGainAttr === attr}") #{__('Split by')} {{attr}} (#{__('Gain')} = {{stats.subGains[attr]}})
        thead(ng-show="#{stats}.showSplitDetail[attr]")
            tr
                th ~
                th #{__('数据拆分分布')}
        tbody(ng-show="#{stats}.showSplitDetail[attr]")
            tr(ng-repeat="(range, distribute) in #{stats}.subCategories[attr]")
                td
                    p {{range}}
                td
                    + dataDistribution('distribute')
                    tree(stats="distribute.stats", ng-if="distribute.stats")
        tfoot(ng-show="#{stats}.showSplitDetail[attr]")
            tr
                th  #{__('Gain')}
                th {{stats.subGains[attr]}}