div.ui.purple.inverted.menu
    a.active.item(href="/?gmat")
        i.users.icon
        | #{__('id3 算法可视化')}
    a.item(href="/?enjoySports")
        i.baseball.ball.icon
        | #{__('enjoySports')}
    a.item(href="/how.html")
        i.question.circle.icon
        | #{__('how')}
    a.item(href="https://github.com/Jeff-Tian/id3",
    target="_blank")
        i.github.alternate.icon
        | #{__('源代码')}
    a.item(href="//tictactoe.js.org", target="_blank")
        i.square.full.icon
        | #{__('AI 三子棋')}
    a.item(href="//gitmoji.js.org", target="_blank")
        i.smile.icon
        | gitmoji
    div.right.menu
        a.item(href="#{otherLocaleLink}")
            i.world.icon
            | #{__(otherLocale)}
